CompileFlags:
  Add: 
    - "-ID:/Qt/6.10.2/mingw_64/include"  # Windows Qt6
    - "-ID:/Qt/6.10.2/mingw_64/include/QtWidgets"  # 具体模块路径
    - "-ID:/Qt/6.10.2/mingw_64/include/QtCore"
    - "-ID:/Qt/6.10.2/mingw_64/include/QtGui"
    - "-ID:/_kaifa/QT04_mingw/build/QT04_mingw_autogen/include"
    - "-std=c++17"
    - "-DQT_CORE_LIB"
    - "-DQT_GUI_LIB"
    - "-DQT_WIDGETS_LIB"
  Compiler: clang++
